{% extends 'base.html.twig' %}


{% block body %}

<h1>Modification du profil de {{app.user.username }}, voici toutes vos informations</h1>


<div class="grix xs2">
   {{form(form)}}


</div>

{% endblock %}