{% extends 'base.html.twig' %}


{% block body %}

<p>Modification du profil de {{app.user.username }}, voici toutes vos informations</p>


<div class="grix xs2">
   {{form(form)}}


</div>

{% endblock %}