{% extends 'base.html.twig' %}

{% block body %}

<h1>Bienvenue sur Steam</h1>

<p> Un moteur de qualité pour trouver les jeux à leurs vrai prix pour se faire une giga marche
    Obligé que vous trouviez votre bonheur.
</p>
{% endblock %}