{% extends 'base.html.twig' %}

{% block title %}Hello SteamController!{% endblock %}

{% block body %}
<section class="jeux">
    <article>
         <h2>Hollow Knight</h2>
            <div class="metadata">Sortie le 24/02/2017</div>
                <div class ="content">
                    <img src="http://placehold.it/350x350" alt"">
                    <p>nohbiohiohjip</p>
                    <a href="{{ path('jeux_show') }}" class="btn btn-primary">En savoir plus</a>
                </div>
    </article>

    <article>
            <h2>Hollow Knight</h2>
                <div class="metadata">Sortie le 24/02/2017</div>
                    <div class ="content">
                        <img src="http://placehold.it/350x350" alt"">
                        <p>nohbiohiohjip</p>
                        <a href="{{ path('jeux_show') }}" class="btn btn-primary">En savoir plus</a>
                    </div>
    </article>

    <article>
            <h2>Hollow Knight</h2>
                <div class="metadata">Sortie le 24/02/2017</div>
                    <div class ="content">
                        <img src="http://placehold.it/350x350" alt"">
                        <p>nohbiohiohjip</p>
                        <a href="{{ path('jeux_show') }}" class="btn btn-primary">En savoir plus</a>
                    </div>
    </article>

</section>
{% endblock %}
