{% extends 'base.html.twig' %}

{% block body %}

    <article>
         <h2>{{ jeux.Titre }}</h2>
                <div class ="content">
                    <img src="{{ jeux.image }}" alt"">
                    <p></p>
                    {{ jeux.Description | raw}}
                    <p></p>
                     <a href="{{ jeux.url | raw}}" class="btn btn-primary">Page du jeu</a>
                </div>
                
    </article>

{% endblock %}