{% extends 'base.html.twig' %}

{% block body %}

    <article>
         <h2>{{ jeux.Titre }}</h2>
            <div class="metadata">Sortie le {{ jeux.Date | date('d/m/Y') }} </div>
                <div class ="content">
                    <img src="{{ jeux.image }}" alt"">
                    {{ jeux.Description | raw}}
                </div>
                
    </article>

{% endblock %}