{% extends 'base.html.twig' %}

{% block body %}

    <article>
         <h2>{{ jeux.Titre }}</h2>
                <div class ="content">
                    <img src="{{ jeux.image }}" alt"">
                    {{ jeux.Description | raw}}
                </div>
                
    </article>

{% endblock %}